.forgot-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgot-email-input {
  margin-top: 10px;
  height: 35px;
  border-radius: 10px;
  width: 400px;
  font-size: medium;
  font-weight: 400;
}

.forgot-button {
  margin-top: 10px;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  font-weight: bold;
  background: linear-gradient(to bottom, #4aa2c1, #2c636f);
}
