.welcome {
  color: #f47418;
  font-size: 64px;
  margin-bottom: 100px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 5px 2px rgba(0, 0, 0, 0.2);
}

.login-page-container form {
  display: flex;
  flex-direction: column;
  width: 25vw;
  min-width: 200px;
  margin-top: 10px;
}
.main-conatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-page-container form input,
select {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  background-color: #fff;
}

.login-page-container from input:focus {
  outline: none;
  border-color: #ffffff;
}

.login-page-container form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(to bottom, #1c589d, #009dff);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.fogot-password {
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #102033;
  cursor: pointer;
  font-weight: 500;
}

.signup {
  margin-top: 10px;
  font-size: 0.9rem;
  text-align: center;
  color: #102033;
  cursor: pointer;
  font-weight: 500;
}

.forgot-password:hover,
.signup:hover {
  text-decoration: underline;
  color: #02070e;
}

form a {
  text-decoration: none;
}

.login-page-container {
  background: linear-gradient(to bottom, #f47418, #ff6a00);
  border-radius: 1em;
  padding: 20px 20px 20px 20px;
  margin-bottom: 80px;
}

.error {
  color: red;
}

@media only screen and (max-width: 600px) {
  .welcome {
    font-size: 32px;
    margin-bottom: 50px;
    text-align: center;
    word-wrap: break-word;
  }

  .login-page-container form {
    width: 80vw;
    min-width: unset;
    margin-top: 5px;
  }

  .main-conatiner {
    padding: 20px;
  }

  .login-page-container {
    padding: 10px 10px 0 10px;
  }
}
