<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="./reset-password.css" type="text/css" />
  </head>
  <body>
    <h1>Reset Password</h1>
    <form action="http://localhost:3000/api/user/resetpassword" method="POST">
      <input type="hidden" name="token" value="<%= token %>" />
      <label for="password">New Password:</label>
      <input type="password" name="password" id="password" required />
      <button type="submit">Reset Password</button>
    </form>
  </body>
</html>
