.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

h2 {
  display: flex;
  justify-content: center;
}

.profile-details {
  margin-top: 10px;
}

p:nth-child(2) {
  display: flex;
  justify-content: center;
}
