* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
}
::-webkit-scrollbar {
  height: 1rem;
  width: 0.3rem;
}
::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.1);
}
::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  background-color: hsla(0, 0%, 89%, 0.8);
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}
